<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hirshim.alfred-anemia</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>89e9e3e0-75da-45e9-8635-cd45048de426</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>cb14ab1e-cdbc-4589-81e6-a9dd7bc317c5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8d5441fb-768d-4a8c-9687-a3925993ba77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8d5441fb-768d-4a8c-9687-a3925993ba77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hirshim</string>
	<key>description</key>
	<string>貧血鑑別診断フローチャートに基づいた診断支援ワークフロー</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Anemia Diagnosis</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>anemia</string>
				<key>subtext</key>
				<string>診断を開始します</string>
				<key>text</key>
				<string>貧血鑑別診断</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>cb14ab1e-cdbc-4589-81e6-a9dd7bc317c5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>anemia_trigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>89e9e3e0-75da-45e9-8635-cd45048de426</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string></string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>考え中...</string>
				<key>script</key>
				<string>/usr/bin/python3 run_diagnosis.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>選択肢を選んでください</string>
				<key>title</key>
				<string>貧血鑑別診断</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>anemia_trigger</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.trigger</string>
			<key>uid</key>
			<string>8d5441fb-768d-4a8c-9687-a3925993ba77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>89e9e3e0-75da-45e9-8635-cd45048de426</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>8d5441fb-768d-4a8c-9687-a3925993ba77</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>cb14ab1e-cdbc-4589-81e6-a9dd7bc317c5</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.5</string>
	<key>webaddress</key>
	<string>https://github.com/hirshim/alfred-anemia</string>
</dict>
</plist>
