<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hirshim.alfred-anemia</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>hirshim</string>
	<key>description</key>
	<string>貧血鑑別診断フローチャートに基づいた診断支援ワークフロー</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Anemia Diagnosis</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>anemia</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>考え中...</string>
				<key>script</key>
				<string>/usr/bin/python3 run_diagnosis.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>診断を開始します</string>
				<key>title</key>
				<string>貧血鑑別診断</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>e9b408f1-86d3-4dfe-8898-f82f5d2fc143</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/hirshim/alfred-anemia</string>
</dict>
</plist>
